@charset "UTF-8";

/* 웰컴체 레귤러 */
@font-face {
	font-family: 'OTWelcomeRA';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

/* 웰컴체 볼드 */
@font-face {
	font-family: 'OTWelcomeBA';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeBA.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

/* 일단은 테스트용으로 웰컴 레큘러, 각 요소에 border 를 쳐서 레이아웃 보기 용이게하게 했습니다. 나중에 지우시길 */
* {
	font-family: 'OTWelcomeRA';
}

/* 리셋css */
/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul, li {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input:focus {
	outline: none;
}

a {
	color: inherit;
	text-decoration: none;
}
/* reset css 종료 */

/* 헤더 */
.menubar li {
	font-weight: bold;
	
}

.menubar li:hover {
	background: orange;
	border-radius: 10px;
	box-shadow: 5px 5px 5px;
}

/* 메뉴바 호버효과 */
.float-shadow {
	display: inline-block;
	position: relative;
	transition-duration: 0.3s;
	transition-property: transform;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.float-shadow:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, .35) 0%,
		rgba(0, 0, 0, 0) 80%);
	/* W3C */
	transition-duration: 0.3s;
	transition-property: transform opacity;
}

.float-shadow:hover {
	transform: translateY(-5px);
	/* move the element up by 5px */
}

.float-shadow:hover:before {
	opacity: 1;
	transform: translateY(5px);
	/* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* 미니홈 */


