@charset "UTF-8";

/* 웰컴체 레귤러 */
@font-face {
	font-family: 'OTWelcomeRA';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

/* 웰컴체 볼드 */
@font-face {
	font-family: 'OTWelcomeBA';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeBA.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

/* 일단은 테스트용으로 웰컴 레큘러, 각 요소에 border 를 쳐서 레이아웃 보기 용이게하게 했습니다. 나중에 지우시길 */
* {
	font-family: 'OTWelcomeRA';
}

#main{
	overflow: auto;
}